.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect/*
.Rhistory
.Rproj.user/591D01C3/pcs/source-pane.pper
.Rproj.user/591D01C3/pcs/workbench-pane.pper
.Rproj.user/591D01C3/sources/prop/INDEX
.Rproj.user/591D01C3/sources/session-be3c946a/3D00BCCC
.DS_Store
old/*
Times.Rproj
